<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenTracker.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenTracker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <userSettings>
      <ScreenTracker.Properties.UserSettings>
        <setting name="KernelSize" serializeAs="String">
          <value>3</value>
        </setting>
        <setting name="DataIndicatorThickness" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="GridRows" serializeAs="String">
          <value>12</value>
        </setting>
        <setting name="GridColums" serializeAs="String">
          <value>16</value>
        </setting>
        <setting name="Spring_Damping" serializeAs="String">
          <value>0.1</value>
        </setting>
        <setting name="Spring_StepSize" serializeAs="String">
          <value>0.0933</value>
        </setting>
        <setting name="Spring_ConstraintIterations" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="Spring_constant" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="IRPixelPadding" serializeAs="String">
          <value>10</value>
        </setting>
      </ScreenTracker.Properties.UserSettings>
    </userSettings>
    <applicationSettings>
        <ScreenTracker.Properties.Settings>
            <setting name="DataIndicatorPadding" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DataIndicatorColor" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="DataIndicatorColor8bit" serializeAs="String">
                <value>150</value>
            </setting>
        </ScreenTracker.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Math" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Statistics" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

